@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom thin scrollbar */
::-webkit-scrollbar {
  width: 2px; /* Slightly thicker than the previous width for a small height */
}

::-webkit-scrollbar-track {
  background: transparent; /* Track background is invisible */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Light dark thumb */
  border-radius: 10px; /* Rounded thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6); /* Darker thumb on hover */
}